/*
 * Copyright (c) 2022-2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 / { 
	disk_flash_example: disk_flash_example {
		compatible = "zephyr,disk-flash";
		status = "okay";
		size = <4096>;
		init-level = "APPLICATION";
		init-priority = <45>;
		write-block-size = <1>;
		page-size = <4096>;
		disk-name = "DISK1";
		disk-sector-size = <512>;
		disk-offset = <512>;
	};
};
